<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#demo-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
                <span class="icon-bar"> </span>
            </button>
            <a class="navbar-brand" href="/manage/">花旗保险盒子</a>
        </div>

        <div class="collapse navbar-collapse" id="demo-navbar">
            <ul class="nav navbar-nav">
                <li><a href="#">特点</a></li>
                <li class="dropdown"><a href="userlist" class="dropdown-toggle" data-toggle="dropdown">产品管理<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li> <a href="productlist">产品列表</a></li>
                        <li> <a href="addproduct">增加产品</a></li>
                        <li> <a href="modifyproduct">修改产品</a></li>
                        <li> <a href="#">其他</a></li>
                    </ul>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#about">关于</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">产品列表</div>
        <div class="panel-body">
            <p>在这里,您可以查看产品信息,并执行相应操作..</p>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" id="previous" style="width:100%;height:80px;" class="btn "><span class="glyphicon glyphicon-arrow-up"></span></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" id="next" style="width:100%;height:80px;" class="btn"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <table class="table">
                    <thead>
                    <tr><th>序号</th><th>产品名称</th><th>价格</th><th>销量</th><th>预期收入</th><th>赔偿金额</th><th>图片链接</th><th>修改信息</th><th>删除</th></tr>
                    </thead>
                    <tbody>
                    {{#each data}}
                        <tr><td>{{@index}}</td><td class="productname">{{ProductName}}</td><td>{{ProductPrice}}</td><td>{{SalesVolume}}</td><td>{{Income}}</td><td>{{Money}}</td><td><img src="{{ProductUrl}}" width="80" height="80"></td><td><a class="btn btn-default" href="modifyproduct?productname={{ProductName}}" target="_blank">修改</a></td><td><button class="btn btn-default deleteproduct">删除</button></td></tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>

<script src="/javascripts/MproductList.js">
</script>
<script type="text/javascript">
    $(document).ready(function(){
        var index = {{index}}||0;
        var previous = 0, next=0;
        if(index>0){
            previous = index - 1;
        }
        var length ={{data.length}};
        if(length==10){
            next=index+1;
        }else{
            next=index;
        }
        $("#previous").attr("href","/manage/productlist?index="+previous);
        $("#next").attr("href","/manage/productlist?index="+next);
    });
</script>